* {
  margin: 0;
  padding: 0;
}

#container {
  background: #c1c1c1;
  width: 25%;
  height: 200px;
  margin: 100px auto;
  padding: 100px;
  box-shadow: 0 0 10px 2px #808080;
}

#number {
  font-family: 'Noto Sans', sans-serif;
  height: 40%;
  width: 50%;
  margin: 0px auto;
  color: #102be6;
  text-align: center;
  line-height: 79px;
  font-size: 88px;
}

#container-btn {
  margin: 30px auto;
  margin-top: 30px;
  width: 50%;
  height: 50px;
}

#btn {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: white;
  background: #2c46ff;
  border: 1px solid #4720ce;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#btn:hover {
  background: #182582;
  border: 1px solid #230a77;
}