/*for print*/
@media print {
  * {
    margin: 0;
    padding: 0;
  }

  p {
    /*margin-top: 50%;*/
  }

  .container {
    background: #f1f1f1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .menu-screen {
    border: 1px solid #989898;
    padding: 40px;
    width: 30%;
    margin: 100px auto;
    box-shadow: 0 0 5px 1px #ababab;
  }

  #option-default {
    display: none;  
  }

  #ticket {
    padding-left: 5px;
    height: 31px;
    width: 195px;
  }

  #row-col {
    height: 33px;
    width: 200px;
  }

  .input {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
  }

  .input:focus {
    box-shadow: 0 0 5px 1px #87baef85;
    outline: none;
  }

  .start {
    margin: 0 auto;
    width: 200px;
  }

  #btn-start {
    font-size: 15px;
    width: 200px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    color: white;
    background: #146bb5;
  }

  #btn-start:hover {
    background: #003c6f;
    cursor: pointer;
  }

  .ticket-left {
    border: 1px solid black;
    width: 45%;
    height: 100%;
    position: absolute;
    margin: 0 0 0 2%;
  }

  .ticket-right {
    border: 1px solid black;
    width: 45%;
    height: 100%;
    position: absolute;
    margin: 0 0 0 53%;
  }

  .ticket-couple {
    width: 100%;
    height: 48%;
    margin-bottom: 2.65%;
    position: relative;
  }

  .container-circle {
    height: 100%;
    background: #f5f5f5;
    text-align: center;
    color: black;
  }

  .circle {
    margin-left: 3%;
    margin-top: 4%;
    background: #c9c9c9;
    float: left;
    border-radius: 100%;
  }
}

/*for screen*/
/*@media screen {
  * {
    margin: 0;
    padding: 0;
  }

  p {
    margin-top: 50%;
  }

  .container {
    background: #f1f1f1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .menu-screen {
    border: 1px solid #989898;
    padding: 40px;
    width: 30%;
    margin: 100px auto;
    box-shadow: 0 0 5px 1px #ababab;
  }

  #option-default {
    display: none;  
  }

  #ticket {
    padding-left: 5px;
    height: 31px;
    width: 195px;
  }

  #row-col {
    height: 33px;
    width: 200px;
  }

  .input {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
  }

  .input:focus {
    box-shadow: 0 0 5px 1px #87baef85;
    outline: none;
  }

  .start {
    margin: 0 auto;
    width: 200px;
  }

  #btn-start {
    font-size: 15px;
    width: 200px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    color: white;
    background: #146bb5;
  }

  #btn-start:hover {
    background: #003c6f;
    cursor: pointer;
  }

  .ticket-left {
    border: 1px solid black;
    width: 45%;
    height: 100%;
    position: absolute;
    margin: 0 0 0 2%;
  }

  .ticket-right {
    border: 1px solid black;
    width: 45%;
    height: 100%;
    position: absolute;
    margin: 0 0 0 53%;
  }

  .ticket-couple {
    width: 100%;
    height: 48%;
    margin-bottom: 2.65%;
    position: relative;
  }

  .container-circle {
    height: 100%;
    background: #f5f5f5;
    text-align: center;
    color: black;
  }

  .circle {
    margin-left: 3%;
    margin-top: 4%;
    background: #c9c9c9;
    float: left;
    border-radius: 100%;
  }
}*/

/*for screen*/
@media screen {
  * {
    margin: 0;
    padding: 0;
  }

  p {
    /*margin-top: 50%;*/
  }

  .container {
    background: #f1f1f1;
    /*position: absolute;*/
    width: 100%;
    /*height: 100%;*/
  }

  .menu-screen {
    border: 1px solid #989898;
    padding: 40px;
    width: 30%;
    margin: 100px auto;
    box-shadow: 0 0 5px 1px #ababab;
  }

  #option-default {
    display: none;  
  }

  #ticket {
    padding-left: 5px;
    height: 31px;
    width: 195px;
  }

  #row-col {
    height: 33px;
    width: 200px;
  }

  .input {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
  }

  .input:focus {
    box-shadow: 0 0 5px 1px #87baef85;
    outline: none;
  }

  .start {
    margin: 0 auto;
    width: 200px;
  }

  #btn-start {
    font-size: 15px;
    width: 200px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    color: white;
    background: #146bb5;
  }

  #btn-start:hover {
    background: #003c6f;
    cursor: pointer;
  }

  .ticket-left {
    border: 1px solid black;
    width: 45%;
    height: 350px;
    /*position: absolute;*/
    margin: 0 0 0 2%;
  }

  .ticket-right {
    border: 1px solid black;
    width: 45%;
    height: 350px;
    /*position: absolute;*/
    margin: 0 0 0 5%;
  }

  .ticket-couple {
    display: inline-flex;
    width: 100%;
    height: 48%;
    margin-bottom: 2.65%;
    /*position: relative;*/
  }

  .container-circle {
    height: 100%;
    background: #f5f5f5;
    text-align: center;
    color: black;
  }

  .circle {
    margin-left: 3%;
    /*margin-top: 4%;*/
    margin-top: 10px;
    background: #c9c9c9;
    float: left;
    border-radius: 100%;
  }
}